@font-face {
    font-family: 'Fragmentcore';
    src: url('../fonts/Fragmentcore.otf') format('truetype');
}

@font-face {
    font-family: 'AvenirBlack';
    src: url('../fonts/Avenir-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Comfortaa-Bold';
    src: url('../fonts/Comfortaa-Bold.ttf') format('truetype');
}